{% extends "blog/base.html" %}

{% block content %}
    <style>
        .btn-outline-info:hover{
            color:white !important;
            background-color: black !important;
            border-color: black !important;
        }
        .btn-outline-info{
            color:black !important;
            background-color: white !important;
            border-color: black !important;
        }
    </style>
    <h1>Deletar Post</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <h2>Você tem certeza que deseja deletar o post: "{{ object.título }}"</h2>
            <div>
                <button class="btn btn-outline-info"  type="submit">Sim, Delete</button>
                <a class="btn btn-outline-info" href="{% url 'blog-post-detail' object.id %}">Não, não delete</a>
            </div>

        </form>
    </div>

{% endblock content %}